html, body {
	margin:2px;
	padding:0px;
}
body, input, select, textarea {
	background-color: #ffffff;
}
td, input, select, textarea {
	font-family: Tahoma;
	font-size: 16px;
	color: #000000;
	vertical-align: top; 
}
select#sch1, select#sch4, select#sch5, select#sch6 {
	visibility: hidden;
}
div#sugarC, div#sugarT  {
	visibility: hidden;
}
div#DN {
	visibility: hidden;
}
td {
	padding: 10px;
}
table.main {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	background-color: #ffcc70;
}
td.salad {
	width: 50%;
}
td.text {
	
}
td.first {
	width: 50%;
}
td.second {
	width: 50%;
}
td.drink {
	width: 50%;
}
td.sum {
	width: 50%;
}
